*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    /* background: radial-gradient(#4B0082, black); */
    background: #1d2023;


}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img.earphone{
    max-width: 100%;
    padding: 50px 0;
    animation: animation 3s infinite linear;

}

@keyframes animation {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform:  translateY(-10px);
    }
    100%{
        transform:  translateY(0px);
    }
}
.col-2 h1.logitech{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: #dbd9d9;

}

.col-2 p.logitech-desc{
    color: #dbd9d9;

}
section{
    margin-top: 94px;
    background: radial-gradient(#6a6a6a, #242424);
    border-bottom: 2px solid #333;


}
.container_home{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.categories_home{
    margin: 70px 0;
}
.row_home{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.row_home .col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.row_home .col-3 img{
    width: 100%;
    height: 400px;
    object-fit: cover;

}
.small_container_home{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 20%;
    padding: 10px;
    min-width: 150px;
    height: 315px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    color: #dbd9d9;
    border: 1px solid #6a6a6a;
    overflow: hidden;
    background-color: white;

}
.col-4:hover{
    border: 1px solid #FFD700;
}
.col-4 a img{
    width: 100%;
    min-height: 200px;
    object-fit: cover;
    transition: transform 0.6s ease;
}
.col-4 a{
    text-decoration: none;
    
}
.col-4 a h4{
    padding-top: 15px;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
}
span.old-prices{
    font-size: 14px;
    text-decoration: line-through;
    color: #6a6a6a;
    font-weight: 500;
}

.col-4 h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 18px;
    font-weight: 500;
    color: red;
}
.col-4 a > img:hover{
    transform:scale(1.1);
}
.title_home{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #dbd9d9;

}
.title_home::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.row_home .col-2 .offer_img{
    /* padding: 10px; */
    /* padding-right: 25px; */
    width: 100%;
    object-fit: contain;
}
.row_home .col-2.desc{
    padding-left: 80px;
    width: 500px;
    /* height: 50px; */
    /* overflow: hidden; */
}

/* ---------- offer ------------ */
.offer_home{
    background: radial-gradient(#6a6a6a, #242424);
    /* background: radial-gradient(#4B0082, black); */
    margin-top: 80px;
    padding: 30px 0;
}

/* ---------- end offer ------------ */

/* ----------- testimonial_home------------- */
.testimonial_home{
    padding-top: 100px;
}
.testimonial_home .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial_home .col-3 img{
    width: 70px;
    height: 70px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial_home .col-3:hover{
    transform: translateY(-10px);
}
.fa-solid.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col-3{
    /* border: 1px solid #dbd9d9; */
    background: #000;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    /* color: #777; */
    color: #dbd9d9;
}

.testimonial_home .col-3 h3{
    margin-top: 8px;
    font-weight: 600;
    color: #dbd9d9;
    font-size: 16px;
}

/* ----- brands--- */

.brands_home{
    margin: 100px auto;
}
.col-5{
    width: 200px;
}
.col-5 img{
    width: 100%;
    height: 150px;
    cursor: pointer;
    filter: grayscale(100%); /*tô đen background*/
}

.col-5 img:hover{

    filter: grayscale(0); /*tô đen background*/
}



@media only screen and (max-width:600px){
    .row_header, .row_home{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .single-product .row_home{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product .desc-product{
        width: 279px;
    }
    .single-product h1.product-name{
        font-size: 26px;
        line-height: 32px;
    }
    .row_home .col-2.desc{
        padding-left: 0;
        text-align: center;
    }
    .col-2.img-product{
        padding-right: 0;
    }
}